<div class="row criteria-form">
  <form (ngSubmit)="onSubmit()" #historyForm="ngForm" novalidate>
    <div class="col-md-12">
      <div class="col-md-2 no-padding-right">
        <label for="startDate" class="label-control">Start Date</label>
        <input class="form-control datepicker" type="text" [(ngModel)]="criteria.start_date" id="startDate" name="startDate" />
      </div>
      <div class="col-md-2 no-padding-right">
        <label for="endDate" class="label-control">End Date</label>
        <input class="form-control datepicker" type="text" [(ngModel)]="criteria.end_date" id="endDate" name="endDate" />
      </div>
      <div class="col-md-2 no-padding-right">
        <label for="mobileNumber" class="label-control">Mobile Number</label>
        <input class="form-control" type="text" [(ngModel)]="criteria.mobile_number" id="mobileNumber" name="mobileNumber" />
      </div>
      <div class="col-md-2 no-padding-right">
        <label for="channelType" class="label-control">SMS/MMS</label>
        <select class="form-control" [(ngModel)]="criteria.channel_type" id="channelType" name="channelType">
          <option value="0">Select</option>
          <option value="1">SMS</option>
          <option value="2">MMS</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="submit" class="btn btn-primary report-button" value="Search" />
      </div>
      <div class="col-md-2">
        <button type="button" class="report-button btn btn-warning glyphicon glyphicon-envelope"> Send Report</button>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-responsive" style="font-size: 13px;">
    <thead>
      <tr class="well well-sm">
        <th>ID</th>
        <th>Sender ID</th>
        <th>Mobile</th>
        <th>Message</th>
        <th>Sent Status</th>
        <th>Delivery Status</th>
        <th>Created On</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of outgoingSmsHistoryData.record_list; index as i;">
        <td>{{history.id}}</td>
        <td>{{history.sender_id}}</td>
        <td>{{history.mobile_number}}</td>
        <td>{{history.text}}</td>
        <td>{{history.sent_status}}</td>
        <td>
          <span *ngIf="history.delivery_status">{{history.delivery_status}}</span>
          <span *ngIf="!history.delivery_status">Not Available</span>
        </td>
        <td>{{history.created_on}}</td>
        <td class="text-center">
          <a type="button" (click)="openModal(historyInfoModal);historyItem = history;" class="btn-details" title="View Details">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #historyInfoModal>
  <div class="modal-header header-height">
    <h4 class="modal-title pull-left">SMS/MMS Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body modal-overflow">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{historyItem.id}}</td>
        </tr>
        <tr>
          <td>Account ID</td>
          <td>{{historyItem.account_id}}</td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td>{{historyItem.mobile_number}}</td>
        </tr>
        <tr>
          <td>Formatted Mobile Number</td>
          <td>{{historyItem.formatted_mobile_number}}</td>
        </tr>
        <tr>
          <td>Sender ID</td>
          <td>{{historyItem.sender_id}}</td>
        </tr>
        <tr>
          <td>Created ON</td>
          <td>{{historyItem.created_on}}</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>{{historyItem.text}}</td>
        </tr>
        <tr>
          <td>Delivery Status</td>
          <td>
            <span *ngIf="historyItem.delivery_status">{{historyItem.delivery_status}}</span>
            <span *ngIf="!historyItem.delivery_status">Not Available</span>
          </td>
        </tr>
        <tr>
          <td>Status Messgae</td>
          <td>{{historyItem.short_code}}</td>
        </tr>
        <tr>
          <td>Credits</td>
          <td>{{historyItem.credits}}</td>
        </tr>
        <tr>
          <td>Is International</td>
          <td>{{historyItem.is_international}}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{historyItem.country_id}}</td>
        </tr>
        <tr>
          <td>Encoding</td>
          <td>{{historyItem.encoding}}</td>
        </tr>
        <tr *ngIf="historyItem.channel_type == 'sms'">
          <td>SMS Source</td>
          <td>{{historyItem.service_provider_id}}</td>
        </tr>
        <tr *ngIf="historyItem.channel_type == 'mms'">
          <td>MMS Source</td>
          <td>{{historyItem.service_provider_id}}</td>
        </tr>
        <tr *ngIf="historyItem.channel_type == 'mms'">
          <td>MMS Media</td>
          <td>{{historyItem.media_url}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer"></div>
</ng-template>
