<div class="row criteria-form">
  <form (ngSubmit)="onSubmit(historyForm)" #historyForm="ngForm" novalidate>
    <div class="col-md-12">
      <div class="col-md-2 no-padding-right">
        <label for="startDate" class="label-control">Start Date</label>
        <input class="form-control datepicker" type="text" [(ngModel)]="criteria.start_date" id="startDate" name="startDate" />
      </div>
      <div class="col-md-2 no-padding-right">
        <label for="endDate" class="label-control">End Date</label>
        <input class="form-control datepicker" type="text" [(ngModel)]="criteria.end_date" id="endDate" name="endDate" />
      </div>
      <div class="col-md-2 no-padding-right" [ngClass]="{ 'has-error': historyForm.submitted  && !mobile.valid }">
        <label for="mobileNumber" class="label-control">Mobile Number</label>
        <input class="form-control" type="text" [(ngModel)]="criteria.mobile_number" id="mobileNumber" name="mobileNumber" minlength="10"
          pattern="[+0-9]*" maxlength="15" #mobile="ngModel" />
        <span [hidden]="mobile.valid || mobile.pristine">
          <small [hidden]="!mobile.hasError('pattern')" style="color:red">Invalid mobile number.</small>
        </span>
        <span [hidden]="!historyForm.submitted">
          <small [hidden]="!mobile.hasError('minlength')" style="color:red">Mobile number should be atleast 10 digit.</small>
        </span>
      </div>
      <div class="col-md-2 no-padding-right">
        <label for="channelType" class="label-control">SMS/MMS</label>
        <select class="form-control" [(ngModel)]="criteria.channel_type" id="channelType" name="channelType">
            <option value="0">Select</option>
            <option value="1">SMS</option>
            <option value="2">MMS</option>
          </select>
      </div>
      <div class="col-md-2">
        <input type="submit" class="btn btn-primary report-button" value="Search" />
      </div>
      <div class="col-md-2">
        <button type="button" class="report-button btn btn-warning glyphicon glyphicon-envelope"> Send Report</button>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-responsive" style="font-size: 13px;">
    <thead>
      <tr class="well well-sm">
        <th>ID</th>
        <th>Short Code</th>
        <th>Mobile Number</th>
        <th>Message</th>
        <th>Created On</th>
        <th>Status</th>
        <th>SF Record Id</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of incomingSmsHistoryData.record_list; index as i;">
        <td>{{history.id}}</td>
        <td>{{history.short_code}}</td>
        <td>{{history.mobile_number}}</td>
        <td>{{history.message}}</td>
        <td>{{history.created_on}}</td>
        <td>{{history.push_sf_status}}</td>
        <td>{{history.sf_id}}</td>
        <td class="text-center">
          <a type="button" (click)="openModal(historyInfoModal);historyItem = history;" class="btn-details" title="View Details">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #historyInfoModal>
  <div class="modal-header header-height">
    <h4 class="modal-title pull-left">Incoming SMS Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{historyItem.id}}</td>
        </tr>
        <tr>
          <td>Account ID</td>
          <td>{{historyItem.account_id}}</td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td>{{historyItem.mobile_number}}</td>
        </tr>
        <tr>
          <td>Short Code</td>
          <td>{{historyItem.short_code}}</td>
        </tr>
        <tr>
          <td>Message</td>
          <td>{{historyItem.message}}</td>
        </tr>
        <tr>
          <td>Created ON</td>
          <td>{{historyItem.created_on}}</td>
        </tr>
        <tr>
          <td>Push URL Status</td>
          <td>{{historyItem.push_url_status}}</td>
        </tr>
        <tr>
          <td>Push Salesforce Status</td>
          <td>{{historyItem.push_sf_status}}</td>
        </tr>
        <tr>
          <td>SF Record Id</td>
          <td>{{historyItem.sf_id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer"></div>
</ng-template>
