.label-control{
  font-weight: normal;
}
.report-button{
  margin-top: 16%;
  line-height: 1.4em;
}
.no-padding{
  padding: 0;
}
.no-padding-right{
  padding-right: 0;
}
.criteria-form{
  margin-bottom: 2%;
}
.header-height{
  height: 4em;
}
.btn-details{
  cursor: pointer;
  background: transparent;
  border: 0;
}
